<section class="covers">
  <div class="covers-container">
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
    <img class="covers-picture" src="" alt="" />
  </div>
</section>
