<section class="header">
    <div class="header-container">
      <nav class="header-navigation">
        <a class="nav-logo" href="./index.html">
          <img class="header-logo" width="80" height="80" />
          <p class="header-text">Jefferson</p>
        </a>
      </nav>
      <div class="header-menu is-open">
        <div class="menu-containar">
          <button class="header-link" type="button">Menu</button>
          <ul class="visually-hidden">
            <li class="nav-item">
              <a class="nav-link" href="#about-me">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </div>
        <a class="button-link" href="#order-project">Order the project</a>
      </div>
    </div>
  </section>

