<section class="hero">
  <div class="hero-container">
    <img class="hero-picture" src="./img/images/hero/hero-desctop.jpg" srcset="./img/images/hero-tablet@1x.jpg 1x, ./img/hero/hero-tablet@2x.jpg 2x" alt="Black and blue background" />
    <h1 class="hero-title">Hello.I’m Fullstack developer Lloyd Jefferson.</h1>
    <div class="hero-navigaton">
        <ul class="hero-list">
            <li class="hero-item">
                <a class="hero-link" href="">IG</a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="">FB</a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="">YT</a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="">GH</a>
            </li>
        </ul>
    </div>
    <button class="hero-button" type="button">lloydjefferson@gmail.com</button>
  </div>
</section>
  