<section class="projects">
  <div class="projects-container">
    <p class="projects-title-text">Projects</p>
    <div class="projects-box">
      <ul class="projects-list">
        <li class="projects-item">
          <p class="projects-text">#react</p>
        </li>
        <li class="projects-item">
          <p class="projects-text">#js</p>
        </li>
        <li class="projects-item">
          <p class="projects-text">#node js</p>
        </li>
        <li class="projects-item">
          <p class="projects-text">#git</p>
        </li>
      </ul>
      <h3 class="projects-title">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h3>
      <a class="projects-link" href="http://">See project</a>
      <img class="projects-picture" src="" alt="" />
      <img class="projects-picture" src="" alt="" />
      <img class="projects-picture" src="" alt="" />
    </div>
    <svg class="benefits-icons" width="8" height="16">
      <use href="../img/reviews/icon.svg#icon-instagram"></use>
    </svg>
    <svg class="benefits-icons" width="8" height="16">
      <use href="../img/reviews/icon.svg#icon-instagram"></use>
    </svg>
  </div>
</section>
